$color-highlight: #276ef1;

$color-background: #e8e8e8;
$color-background-light: #ffffff;
$color-background-dark: #1e1e1e;

$color-text: #5e5e5e;

$color-border-dark: #000000;
$color-border-error: #de1135;
